<div class="row">
    <input type="text" placeholder="Type to filter" class="input-lg form-control" ng-model="txtFilter" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>DoB</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in customers.data|filter:txtFilter">
                <td>
                    {{customer.FirstName}}
                </td>
                <td>
                    {{customer.LastName}}
                </td>
                <td>
                    {{customer.Gender}}
                </td>
                <td>
                    {{customer.DoB}}
                </td>
                <td>
                    {{customer.Address}}
                </td>
            </tr>
        </tbody>
    </table>
</div>