<div class="row" ng-controller="DeleteController">
    <div class="form-group">
        <input type="text" placeholder="Type to filter" class="input-lg form-control" ng-model="txtFilter" />

    </div>
   
    <div class="pull-right">
        <input type="submit" value="Delete" class="btn btn-danger" ng-click="delete(selected)" />
    </div>
    <table class="table" >
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>DoB</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in customers.data|filter:txtFilter">
                <td>
                    {{customer.FirstName}}
                </td>
                <td>
                    {{customer.LastName}}
                </td>
                <td>
                    {{customer.Gender}}
                </td>
                <td>
                    {{customer.DoB}}
                </td>
                <td>
                    {{customer.Address}}
                </td>
                
                <td>
                    <a ng-click="delete(customer.CustomerID)">Delete</a>
                </td>
            </tr>
        </tbody>
    
        {{status}}
    </table>
   
</div>